# Data Preprocessing

Create a CSV file below

In [1]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('''NumRooms,RoofType,Price
NA,NA,127500
2,NA,106000
4,Slate,178100
NA,NA,140000''')

import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN  106000
2       4.0    Slate  178100
3       NaN      NaN  140000

`describe()` helps you to understand the type and domain of each numerical column

In [2]:
data.describe()

       NumRooms         Price
count  2.000000       4.00000
mean   3.000000  137900.00000
std    1.414214   30255.68817
min    2.000000  106000.00000
25%    2.500000  122125.00000
50%    3.000000  133750.00000
75%    3.500000  149525.00000
max    4.000000  178100.00000

For categorical input fields, 
we can treat `NaN` as a category

In [3]:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = pd.get_dummies(inputs, dummy_na=True)
print(inputs)

   NumRooms  RoofType_Slate  RoofType_nan
0       NaN               0             1
1       2.0               0             1
2       4.0               1             0
3       NaN               0             1

Replace the `NaN` entries with 
the mean value of the corresponding column

In [4]:
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms  RoofType_Slate  RoofType_nan
0       3.0               0             1
1       2.0               0             1
2       4.0               1             0
3       3.0               0             1

All the entries in `inputs` and `targets` are numerical,
we can load them into a tensor

In [5]:
import torch

X, y = torch.tensor(inputs.values), torch.tensor(targets.values)
X, y

(tensor([[3., 0., 1.],
         [2., 0., 1.],
         [4., 1., 0.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100, 140000]))